.info__icon-btn {
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 1px;
    --line-margin: 2;
    --color: $white;

    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
}

.icon-btn::before,
.icon-btn::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;

    width: var(--width);
    height: var(--line-height);

    background-color: var(--color);
    transition: transform var(--time) ease-in,
        top var(--time) linear var(--time);
}

.icon-btn::before {
    top: calc(var(--line-height) * -8);
}

.icon-btn::after {
    top: calc(var(--line-height) * 8);
}

.icon-btn.icon-btn--active {
    background-color: transparent;
}

.icon-btn.icon-btn--active::before,
.icon-btn.icon-btn--active::after {
    top: 0;
    transition: top var(--time) linear,
        transform var(--time) ease-in var(--time);
}

.icon-btn.icon-btn--active::before {
    transform: rotate(45deg);
}

.icon-btn.icon-btn--active::after {
    transform: rotate(-45deg);
}

