//fonts
$font-main: 'Overpass', sans-serif;
$font-text: 'Roboto Condensed', sans-serif;
$text-secondary: 'Playfair Display', serif;

//colors
$white: #FFFFFF;
$dark: #1C1C1C;
$green: #799A0D;
$lgreen: #8BAF13;
$text: #333;
$title: #313131;

//Media 
$tablet: 984px;




// font-family: 'Bentham', serif;
// font-family: 'Figtree', sans-serif;
// font-family: 'Overpass', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Satisfy', cursive;
// font-family: 'Ubuntu', sans-serif;